.u-section-1 {min-height: 863px}
.u-section-1 .u-text-1 {margin: 1px calc(((100% - 1140px) / 2) + 225px) 0 calc(((100% - 1140px) / 2) + -68px)}
.u-section-1 .u-line-1 {height: 3px; transform-origin: left center 0; margin: -79px auto 0 0}
.u-section-1 .u-text-2 {font-weight: 700; margin: 88px calc(((100% - 1140px) / 2) + -38px) 0 0}
.u-section-1 .u-image-1 {width: 585px; height: 321px; margin: 30px auto 0 0}
.u-section-1 .u-image-2 {width: 585px; height: 321px; margin: 0 auto 1px 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-right: calc(((100% - 940px) / 2) + 225px); margin-left: calc(((100% - 940px) / 2) + -68px)}
.u-section-1 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-text-2 {margin-right: calc(((100% - 940px) / 2) + -38px)} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: calc(((100% - 720px) / 2) + 225px); margin-left: calc(((100% - 720px) / 2) + -68px)}
.u-section-1 .u-text-2 {margin-right: calc(((100% - 720px) / 2) + -38px)} }

@media (max-width: 767px){ .u-section-1 {min-height: 500px}
.u-section-1 .u-text-1 {margin-right: calc(((100% - 540px) / 2) + 225px); margin-left: calc(((100% - 540px) / 2) + -68px)}
.u-section-1 .u-text-2 {margin-right: calc(((100% - 540px) / 2) + -38px)}
.u-section-1 .u-image-1 {width: 540px; height: 296px}
.u-section-1 .u-image-2 {width: 540px; height: 296px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-right: calc(((100% - 340px) / 2) + 225px); margin-left: calc(((100% - 340px) / 2) + -68px)}
.u-section-1 .u-text-2 {margin-right: calc(((100% - 340px) / 2) + -38px)}
.u-section-1 .u-image-1 {width: 340px; height: 186px}
.u-section-1 .u-image-2 {width: 340px; height: 186px} }.u-section-2 {min-height: 1020px}
.u-section-2 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 23px auto 0 0}
.u-section-2 .u-text-1 {margin: 20px calc(((100% - 1140px) / 2) + 457px) 0 calc(((100% - 1140px) / 2) + 340px)}
.u-section-2 .u-text-2 {margin: 30px calc(((100% - 1140px) / 2) + 37px) 0 0}
.u-section-2 .u-image-1 {width: 559px; height: 314px; margin: 23px auto 0 calc(((100% - 1140px) / 2) + 232px)}
.u-section-2 .u-image-2 {width: 559px; height: 313px; margin: 30px auto 60px calc(((100% - 1140px) / 2) + 232px)} 

@media (max-width: 1199px){ .u-section-2 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {margin-right: calc(((100% - 1140px) / 2) + 557px); margin-left: calc(((100% - 1140px) / 2) + 440px)}
.u-section-2 .u-text-2 {margin-right: calc(((100% - 1140px) / 2) + 137px); margin-left: calc(((100% - 1140px) / 2) + 20px)}
.u-section-2 .u-image-1 {margin-left: calc(((100% - 1140px) / 2) + 20px)}
.u-section-2 .u-image-2 {margin-left: calc(((100% - 940px) / 2) + 232px)} }

@media (max-width: 991px){ .u-section-2 .u-text-2 {margin-right: calc(((100% - 1140px) / 2) + 247px); margin-left: calc(((100% - 1140px) / 2) + 130px)}
.u-section-2 .u-image-1 {margin-left: calc(((100% - 1140px) / 2) + 130px)}
.u-section-2 .u-image-2 {margin-left: calc(((100% - 720px) / 2) + 161px)} }

@media (max-width: 767px){ .u-section-2 {min-height: 1597px}
.u-section-2 .u-text-2 {margin-right: calc(((100% - 1140px) / 2) + 337px); margin-left: calc(((100% - 1140px) / 2) + 220px)}
.u-section-2 .u-image-1 {height: 304px; margin-left: calc(((100% - 1140px) / 2) + 220px)}
.u-section-2 .u-image-2 {width: 540px; height: 302px; margin-left: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-2 {min-height: 1484px}
.u-section-2 .u-text-2 {margin-right: calc(((100% - 1140px) / 2) + 437px); margin-left: calc(((100% - 1140px) / 2) + 320px)}
.u-section-2 .u-image-1 {width: 340px; height: 191px; margin-left: calc(((100% - 1140px) / 2) + 400px)}
.u-section-2 .u-image-2 {width: 340px; height: 190px; margin-left: calc(((100% - 340px) / 2))} }.u-section-3 {min-height: 100vh}
.u-section-3 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-3 .u-text-1 {margin: 40px auto 0}
.u-section-3 .u-text-2 {margin: 20px auto 0}
.u-section-3 .u-image-1 {width: 604px; height: 340px; margin: 30px calc(((100% - 1140px) / 2) + 251px) 0 auto}
.u-section-3 .u-image-2 {width: 604px; height: 347px; margin: 20px calc(((100% - 1140px) / 2) + 241px) 60px auto} 

@media (max-width: 1199px){ .u-section-3 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {margin-right: calc(((100% - 940px) / 2) + 251px)}
.u-section-3 .u-image-2 {height: 346px; margin-right: calc(((100% - 940px) / 2) + 241px)} }

@media (max-width: 991px){ .u-section-3 .u-image-1 {margin-right: calc(((100% - 720px) / 2) + 116px)}
.u-section-3 .u-image-2 {margin-right: calc(((100% - 720px) / 2) + 116px)} }

@media (max-width: 767px){ .u-section-3 {min-height: 784px}
.u-section-3 .u-image-1 {width: 540px; height: 304px; margin-right: calc(((100% - 540px) / 2))}
.u-section-3 .u-image-2 {width: 540px; height: 309px; margin-right: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-3 .u-image-1 {width: 340px; height: 191px; margin-right: calc(((100% - 340px) / 2))}
.u-section-3 .u-image-2 {width: 340px; height: 195px; margin-right: calc(((100% - 340px) / 2))} }