.u-section-1 {min-height: 500px}
.u-section-1 .u-line-1 {width: calc(((100% - 1140px) / 2) + 1212px); height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {margin: 30px auto 0}
.u-section-1 .u-text-2 {margin: 20px auto 0}
.u-section-1 .u-image-1 {width: 570px; height: 380px; margin: 30px auto 0}
.u-section-1 .u-image-2 {width: 570px; height: 321px; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-line-1 {width: calc(((100% - 940px) / 2) + 940px)} }

@media (max-width: 991px){ .u-section-1 .u-line-1 {width: calc(((100% - 720px) / 2) + 720px)} }

@media (max-width: 767px){ .u-section-1 .u-line-1 {width: calc(((100% - 540px) / 2) + 540px)}
.u-section-1 .u-image-1 {width: 540px; height: 360px}
.u-section-1 .u-image-2 {width: 540px; height: 304px} }

@media (max-width: 575px){ .u-section-1 .u-line-1 {width: calc(((100% - 340px) / 2) + 340px)}
.u-section-1 .u-image-1 {width: 340px; height: 227px}
.u-section-1 .u-image-2 {width: 340px; height: 191px} }.u-section-2 {min-height: 1140px}
.u-section-2 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-2 .u-text-1 {margin: 3px calc(((100% - 1140px) / 2) + -140px) 0 calc(((100% - 1140px) / 2) + -60px)}
.u-section-2 .u-text-2 {margin: 20px calc(((100% - 1140px) / 2) + -76px) 0 calc(((100% - 1140px) / 2) + -60px)}
.u-section-2 .u-image-1 {width: 560px; height: 498px; margin: 42px calc(((100% - 1140px) / 2) + 282px) 0 auto}
.u-section-2 .u-image-2 {width: 622px; height: 348px; margin: -19px calc(((100% - 1140px) / 2) + 251px) 60px auto} 

@media (max-width: 1199px){ .u-section-2 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {margin-right: calc(((100% - 940px) / 2) + -140px); margin-left: calc(((100% - 940px) / 2) + -60px)}
.u-section-2 .u-text-2 {margin-right: calc(((100% - 940px) / 2) + -76px); margin-left: calc(((100% - 940px) / 2) + -60px)}
.u-section-2 .u-image-1 {margin-right: calc(((100% - 940px) / 2) + 282px)}
.u-section-2 .u-image-2 {margin-right: calc(((100% - 940px) / 2) + 251px)} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-right: calc(((100% - 720px) / 2) + -140px); margin-left: calc(((100% - 720px) / 2) + -60px)}
.u-section-2 .u-text-2 {margin-right: calc(((100% - 720px) / 2) + -76px); margin-left: calc(((100% - 720px) / 2) + -60px)}
.u-section-2 .u-image-1 {margin-right: calc(((100% - 720px) / 2) + 160px)}
.u-section-2 .u-image-2 {margin-right: calc(((100% - 720px) / 2) + 98px)} }

@media (max-width: 767px){ .u-section-2 {min-height: 1041px}
.u-section-2 .u-text-1 {margin-right: calc(((100% - 540px) / 2) + -140px); margin-left: calc(((100% - 540px) / 2) + -60px)}
.u-section-2 .u-text-2 {margin-right: calc(((100% - 540px) / 2) + -76px); margin-left: calc(((100% - 540px) / 2) + -60px)}
.u-section-2 .u-image-1 {width: 540px; height: 480px; margin-right: calc(((100% - 540px) / 2))}
.u-section-2 .u-image-2 {width: 540px; height: 302px; margin-top: -1px; margin-right: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {margin-right: calc(((100% - 340px) / 2) + -140px); margin-left: calc(((100% - 340px) / 2) + -60px)}
.u-section-2 .u-text-2 {margin-right: calc(((100% - 340px) / 2) + -76px); margin-left: calc(((100% - 340px) / 2) + -60px)}
.u-section-2 .u-image-1 {width: 340px; height: 302px; margin-right: calc(((100% - 340px) / 2))}
.u-section-2 .u-image-2 {width: 340px; height: 190px; margin-top: 177px; margin-right: calc(((100% - 340px) / 2))} }.u-section-3 {min-height: 926px}
.u-section-3 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-3 .u-text-1 {margin-bottom: 0; margin-top: 30px}
.u-section-3 .u-text-2 {margin: 20px calc(((100% - 1140px) / 2) + -93px) 0 0}
.u-section-3 .u-image-1 {width: 553px; height: 317px; margin: 43px auto 0}
.u-section-3 .u-image-2 {width: 560px; height: 314px; margin: 20px calc(((100% - 1140px) / 2) + 287px) 0 auto} 

@media (max-width: 1199px){ .u-section-3 {min-height: 828px}
.u-section-3 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-text-2 {margin-right: calc(((100% - 940px) / 2) + -93px)}
.u-section-3 .u-image-2 {height: 315px; margin-right: calc(((100% - 940px) / 2) + 287px)} }

@media (max-width: 991px){ .u-section-3 .u-text-2 {margin-right: calc(((100% - 720px) / 2) + -93px)}
.u-section-3 .u-image-2 {margin-right: calc(((100% - 720px) / 2) + 160px)} }

@media (max-width: 767px){ .u-section-3 {min-height: 500px}
.u-section-3 .u-text-2 {margin-right: calc(((100% - 540px) / 2) + -93px)}
.u-section-3 .u-image-1 {width: 540px; height: 310px}
.u-section-3 .u-image-2 {width: 540px; height: 304px; margin-right: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-3 .u-text-2 {margin-right: calc(((100% - 340px) / 2) + -93px)}
.u-section-3 .u-image-1 {width: 340px; height: 195px}
.u-section-3 .u-image-2 {width: 340px; height: 191px; margin-right: calc(((100% - 340px) / 2))} }